<!DOCTYPE html>
<html>
<head>
  <title>Title</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="home-page">
    <h1>how are you feeling?</h1>
    <form method="POST" action="/results">
      <p>How are you feeling?</p>
      <input type="radio" value="happy" name="emotion">HAPPY<br>
      <input type="radio" value="sad" name="emotion">SAD<br>
      <input type="radio" value="mad" name="emotion">MAD<br>
      <input type="radio" value="annoyed" name="emotion">ANNOYED<br>
      <input type="radio" value="bored" name="emotion">BORED<br>
      <input type="radio" value="scared" name="emotion">SCARED<br>
      
      <input type="submit">        
    </form> 
      
  </div>

</body>
</html>

